
section{
    scroll-snap-align: start;
}
.home{
    border-top: 5px solid black;
    border-right: 25px solid black;
    border-left: 25px solid black;
    height: 80vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .card{
        box-shadow: 1px 1px 40px gold;
        border: 1px solid white;
        height: 100% !important;
        width: 370px;
        margin: 2%;
        scroll-snap-align: center;
    }

    .hero{
        background-color: black;
        height: 100%;
        padding: 5px;
        align-content: center;
        text-align: center;
        position: relative;
        overflow: hidden;
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80vh;
            object-fit: cover;
            z-index: 0;
        }
        h2{
            position: relative;
            z-index: 10;
            color: white;
            text-shadow: 1px 1px 10px white;
            font: {
                size: 13vw;
                family: "Amarante"
            }
        }

    }

    .artwork{
        background-color: black;
        height: 100%;

        .artworkContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .artworkList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;
            }
        }
    }

    .sculptures{
        background-color: black;
        height: 100%;

        .sculpturesContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .sculpturesList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

    .sportCards{
        background-color: black;
        height: 100%;

        .sportCardsContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .sportCardsList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;
            }
        }
    }

    .pokemon{
        background-color: black;
        height: 100%;

        .pokemonContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .pokemonList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;
            }
        }
    }

    .coins{
        background-color: black;
        height: 100%;

        .coinsContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .coinsList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

    .salary{
        background-color: black;
        height: 100%;

        .salaryContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .salaryList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

    .properties{
        background-color: black;
        height: 100%;

        .propertiesContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .propertiesList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

    .projects{
        background-color: black;
        height: 100%;

        .projectsContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .projectsList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

    .social{
        background-color: black;
        height: 100%;

        .socialContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .socialList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

    .transport{
        background-color: black;
        height: 100%;

        .transportContainer{
            height: 90%;
            width: 90%;
            padding: 5%;
            align-content: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            .transportList{
                height: 90%;
                list-style: none;
                display: flex;
                align-items: center;
                width: 20000px;
                padding: 0;
                margin: 0;


                .card{
                    border: 1px solid black;
                    height: 90%;
                    width: 370px;
                    margin: 2%;
                    scroll-snap-align: center;
                }
            }
        }
    }

}